# Скопируйте в .env и заполните своими значениями
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/MetroQualityMonitor
FORECAST_HORIZON=4
MODEL_NAME=SARIMA
MODEL_VERSION=v1.0
LOG_LEVEL=INFO
N_CLUSTERS=4
